[submodule "image-processing-service"]
	path = image-processing-service
	url = https://github.com/SLIIT-R25-002/image-processing-service.git
[submodule "iot-localization-service"]
	path = iot-localization-service
	url = https://github.com/SLIIT-R25-002/iot-localization-service.git
[submodule "vlm-solution-service"]
	path = vlm-solution-service
	url = https://github.com/SLIIT-R25-002/vlm-solution-service.git
[submodule "uhi-simulation-service"]
	path = uhi-simulation-service
	url = https://github.com/SLIIT-R25-002/uhi-simulation-service.git
[submodule "Frontend"]
	path = Website
	url = https://github.com/SLIIT-R25-002/Frontend.git
[submodule "App"]
	path = App
	url = https://github.com/SLIIT-R25-002/App.git
